/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Knewave', cursive;
*/

/*@media only screen and (min-width:480px) and (max-width: 640px)  {
  }
*/  
  body {
    background-color: #E8DDB5;
    width: 100%;
    margin: 0;
  }

  .nav {
    bottom: 0px;
    width: 100%;
    position: fixed;
    height: 40px;
    background-color: #732C2C;
  }

  .songs-page {
    display: inline;
    float: left;
    width: 50%;
    border-width: 2px;
    border-color: gray;
    text-align: center;
    padding-top: 8px;
  }
  
  .queue-page {
    display: inline;
    float: right;
    width: 50%;
    border-width: 2px;
    border-color: gray;
    text-align: center;
    padding-top: 8px;

  }

  .nav a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
  }

  /*
   *
    client/views/songs.html
   *
   */

  #search input[type="text"] {
    outline: none;
    display: block;
    margin: 20px auto;
    /* background: url('../assets/img/search-dark.png') no-repeat 10px 6px rgba(68, 68, 68, 0.17); */
    background: url('../assets/img/search-dark.png') no-repeat 10px 6px rgba(68, 68, 68, 0.50);

    font: 16px Helvetica,Arial,Sans-serif;
    /*color: #202030; */
    color: white;
    width: 80%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }

  #search input[type="text"]:focus {
    background: url('../assets/img/search-dark.png') no-repeat 10px 6px rgba(68, 68, 68, 0.75);
  }

  .song-list {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-top: 1px;
    border-style: outset;
    height: 70px;
    width: 90%;
    cursor: pointer;
  }
  .song-list:hover {
    background-color: rgba(0, 0, 0, 0.35);
    border-style: inset;
  }

  .song-list-container {
    margin-bottom: 60px;
  }

  .song-list-item-container {
    padding-left: 15px;
    width: 100%;
  }

  .song-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .song-list-item .title {
    font: bold 22px Helvetica,Arial,Sans-serif;
    color: #202030;
  }

  .song-list-item .artist {
    font: 17px Helvetica,Arial,Sans-serif;
    color: #202030;
  }

  .song-list-item .album {
    font: 17px Helvetica,Arial,Sans-serif;
    color: #6A6262;
  }
  /*
   *
    client/views/song-info.html
   *
   */

  .song-info {
    margin-top: 120px;
  }

  .song-info .title {
    font: bold 32px Helvetica,Arial,Sans-serif;
    text-align: center;
  }

  .song-info .artist-album {
    text-align: center;
    padding: 20px;
  }

  .artist-album .artist {
    font: bold 22px Helvetica,Arial,Sans-serif; 
    color: #202030;
  } 

  .artist-album .album {
    font: 22px Helvetica,Arial,Sans-serif; 
    color: #6A6262;
  }

  .ready {
    display: block;
    font-family: 'Knewave', cursive;
    font-size: 30px;
    color: #732C2C;
    margin: 40px auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.80);
  }

  form .client-name {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

   /*
   *
    client/views/queue.html
   *
   */

   .top-bar {
    width: 100%;
    height: 45px;
    background-color: #732C2C;
    position: fixed;
    top: 0;
   }

   .top-bar h1 {    
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    height: 100%;
    color: white;
    padding: 0 0 5px 5px;
    text-align: center;
   }

   .now-playing {
    display: block;    
    width: 80%;
    margin: 60px auto 30px;
   }

   .playing {
    font-family: 'Roboto', sans-serif;
    color: #6A6262;
    font-size: 12px;
    font-weight: 2em;
   }

   .client-name {
    font-family: 'Roboto', sans-serif;
    color: #202030;
    padding-left: 10px;
    font-size: 18px;
   }

   .song {
    background-color: #39304A;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow:    4px 4px 0px 0px rgba(0, 0, 0, 0.29);
    box-shadow:         4px 4px 0px 0px rgba(0, 0, 0, 0.29);
   }

   .artist {
    height: 30px;
    padding-left: 15px;
    font-size: 18px;
    color: grey;
   }

   .title {
    height: 30px;
    padding-left: 15px;

   }

   .queue-container {
    width: 80%;
    height: 100%;
    margin: 25px auto;
    padding-bottom: 40px;
   }

   .queue-container .next {
    font-family: 'Roboto', sans-serif;
    color: #6A6262;
    font-size: 12px;
    font-weight: 2em;
   }

   .queue-item .client-name {
    display: inline;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #202030;
    padding-left: 10px;
    font-size: 25px;
   }

   
   .position {
    display: inline;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #6A6262;
    font-size: 35px;
   }

   .queue-item {
    margin-bottom: 10px;
   }
   .performance {
    display: inline-block;
    width: 100%;
   }

   .queue-item .song {
    display: inline-block;
    width: 100%;
   }

   .queue-item .artist {
    height: 30px;
    padding-left: 15px;
    font-size: 15px;
    color: gray;
   }

   .queue-container .title {
    height: 30px;
    padding-left: 15px;
   }

  /*
   *
    client/views/in-queue.html
   *
   */

  .big-title {
    display: block;
    font-family: 'Knewave', cursive;
    font-size: 90px;
    color: #732C2C;
    margin: 40px auto;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  }

  .in-queue {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    color: #39304A;
    font-size: 25px;
    margin: 20px auto;
    padding: 0 25px 0 25px;
    text-shadow: 3px 3px 6px rgba(150, 150, 150, 1);
  }

  .nav-button-container {
    padding-top: 20px;
    margin: 0 auto;
    width: 100%
  }

  .nav-button {
    margin-top: 20px;
  }

  /*
   *
   *
    client/vies/admin-songs.html
   *
   *
   */

  .add-song {
    display: block;
    margin: 20px auto;
    width: 80%;
  }

  .add-song form {
    position: relative;
    width: 100%
  }

  .add-song form input[type="text"] {
    display: inline;
    height: 30px;
    width: 22%;
  }

  /*
   *
   *
    BUTTONS
   *
   *
   */

/*Main button class
==========================*/
.ph-button {
    width: 240px;
    margin: 20px auto;

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;    
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;  
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700; 
    padding: 19px 39px 18px;
    font-size: 18px;
  
}

.ph-button2 {
    width: 240px;
    display: inline;
    position: relative;
    float: right;
    margin: 10px 20px;
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;    
    border-radius: 6px;
    cursor: pointer;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;  
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 70; 
    padding: 15px 20px 15px;
    font-size: 15px;
  
}
/*Green
==========================*/
.ph-btn-green {

    border-color: #3AC162;
  background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;    
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;   
}

/*Grey
==========================*/
.ph-btn-grey {

     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB; 
}

/*Red
==========================*/
.ph-btn-red {

    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;

}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;    
}

