<div class="top-bar">
  <h1>HEAR ME ROAR!</h1>
</div>


<div class="now-playing" ng-if="nowPlaying">
  
  <div class="describe">
    <span class="playing">NOW PERFORMING</span>
    <span class="client-name">{{ nowPlaying.clientName }}</span>
  </div>

  <div class="song">
    <div class="title">
      {{ nowPlaying.title }}
    </div>
    <div class="artist">
      {{ nowPlaying.artist }}
    </div>
  </div>
</div>

<button class="ph-btn-green ph-button" ng-if="queue" ng-click="playNextSong()">PLAY NEXT SONG</button>


<div class="queue-container" ng-if="queue">
  <div class="next">NEXT IN LINE</div>
  <div class="queue-item" ng-repeat="queueItem in queue">
    <div class="performance">  
  	<button ng-click="removeFromSlot(queueItem)" class="delete">
		  DELETE
		</button>
      <div class="position">{{ $index + 1 }}</div>
      <div class="client-name">
        {{ queueItem.clientName }} <span class="playing">SINGS</span>
      </div>
      <div class="song"> 
        <span class="title">{{ queueItem.title }}</span>
        <span class="artist">by: {{ queueItem.artist }}</span>
      </div>
    </div>
  </div>
</div>

<div class="nav">
  <div class="songs-page">
    <a href="/#/admin/songs">
      SONG LIST CONFIG
    </a>
  </div>
  <div class="queue-page">
    <a href="/#/admin/queue">
      KARAOKE LINE ADMINISTRATION
    </a>
  </div>
</div>
