<div class="add-song">
	<form name="newsong" ng-submit="addSong(newSong)">
	  <input type="text" ng-model="newSong.artist" placeholder=" Artist">
	  <input type="text" ng-model="newSong.title" placeholder=" Track Name">
	  <input type="text" ng-model="newSong.album" placeholder=" Album">
	  <input type="text" ng-model="newSong.genre" placeholder=" Genre">
	  <input type="submit" class="ph-btn-green ph-button" placeholder="Add Track" value="Add Track">
	</form>
</div>


<form id="search">
	<input type="text" ng-model="selection" placeholder="Find Song"/>
</form>

<div class="song-list-container">
	<div class="song-list" ng-repeat="song in songs | filter: selection">		
		<button class="ph-btn-red ph-button2" ng-click="deleteSong(song)" class="delete">
		  DELETE
		</button>
		<div class="song-list-item-container">
			<div class="song-list-item">
			  <div class="title">{{ song.title }}</div>
			  <div class="artist-album-container">
				  <span class="artist">{{ song.artist }} </span>
				  <span class="album">  {{ song.album }}</span>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="nav">
  <div class="songs-page">
    <a href="/#/songs">
      SONG LIST CONFIG
    </a>
  </div>
  <div class="queue-page">
    <a href="/#/queue">
      KARAOKE LINE ADMINISTRATION
    </a>
  </div>
</div>